@charset "utf-8";

/* -------- OneMobile -------- */
/* -- font-family:"OneMobile", sans-serif;					300 / 500 / 700 -- */
@font-face {
	font-family:"OneMobile";
	font-style:normal;
	font-weight:300;
	font-display:swap;
	src:	local("OneMobile Light"),
			local("OneMobile-Light"),
			url("https://cdn.jsdelivr.net/gh/arimoafe/Arimoa/webFonts/OneMobile/OneMobileLight.woff2") format("woff2"),
			url("https://cdn.jsdelivr.net/gh/arimoafe/Arimoa/webFonts/OneMobile/OneMobileLight.woff") format("woff");
}
@font-face {
	font-family:"OneMobile";
	font-style:normal;
	font-weight:500;
	font-display:swap;
	src:	local("OneMobile Medium"),
			local("OneMobile-Medium"),
			url("https://cdn.jsdelivr.net/gh/arimoafe/Arimoa/webFonts/OneMobile/OneMobileRegular.woff2") format("woff2"),
			url("https://cdn.jsdelivr.net/gh/arimoafe/Arimoa/webFonts/OneMobile/OneMobileRegular.woff") format("woff");
}
@font-face {
	font-family:"OneMobile";
	font-style:normal;
	font-weight:700;
	font-display:swap;
	src:	local("OneMobile Bold"),
			local("OneMobile-Bold"),
			url("https://cdn.jsdelivr.net/gh/arimoafe/Arimoa/webFonts/OneMobile/OneMobileBold.woff2") format("woff2"),
			url("https://cdn.jsdelivr.net/gh/arimoafe/Arimoa/webFonts/OneMobile/OneMobileBold.woff") format("woff");
}